*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 15rem;
    height:32.5rem;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 1rem;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.29);

}

.container.day{
    background-image: url("./images/foto\ dia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container.night{
    background-image: url("./images/lluvia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inputTemp{
    margin: 1rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0.4;
}

.search__submit{
    display: flex;
}

.search__submit > button {
    visibility: hidden;
}

.search{
    width: 100%;
    padding: 0.5rem;
    border-radius: .5rem;
    border: none;


}

.search:focus{
    outline:none;
}

.inputTemp__number{
    display: flex;
    align-items: center;

}

.inputTemp__celsius{
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size: 4rem;

}

.inputTemp__symbol{
    color:white;
    font-size: 3rem;

}

.location{
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.location__date{
    margin: 1.5rem;
}

.inputTemp__description, .location__city{
    font-size: 1.3rem;
    font-weight: bolder;
    color:#333;
}

.container.night .inputTemp__description{
    color: white;

}

.container.night .location__city{
    color: white;
}

.container.night .location__date{
    color:white;
    font-weight: bolder;
}

.container.night .weather__min, .container.night .weather__max{
    color:white;

}

.weather{
    flex: 0.1;
    border-top: 2px solid #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather__min > span{
    font-size: 1.4rem;
    color: blue;
}

.weather__max > span{
    font-size:1.4rem;
    color:tomato;

}

